/*TopMenu*/
/*
.top_menu{width:100%;padding:22px 0}
.top_menu a{float:left;color:#fff;text-align:center;font-size:14px;line-height:18px;padding:0 30px;border-right:1px solid #ddd}
.top_menu a p{font-size:16px}
*/
/*top*/
.userInfo{z-index:9;margin:0 auto;width:100%;height:37px;color:#c6c6c6}
.userInfo li{float:left}
.userInfo li.text{margin-top:9px;margin-right:3px;margin-left:16px}
.userInfo li.txt{margin-right:7px;width:26px;height:22px;border-right:1px solid #393939;border-radius:5px 0 0 5px;background:#4a4a4a;color:#929292;text-align:center}
.nr{float:left;margin-top:7px;margin-right:15px;height:22px;border-radius:5px;background:#3f3f3f;font-size:12px;line-height:22px}
.nr .w100{width:55px}
.nr .w110{width:68px}
.right_a{float:left;display:inline-block;margin:0;padding:10px 15px;background:url(/img/index/line.png) no-repeat left top}
.arrowicon{display:inline-block;margin-top:5px;margin-right:3px;margin-left:6px;width:7px;height:4px;vertical-align:text-top}
.user_new{float:right;display:inline-block;margin-top:6px;margin-right:7px;width:11px;height:10px;background-position:-85px -360px;cursor:pointer}
.userInfo li.mn{margin-top:7px;margin-right:12px;padding:0 5px;width:168px;height:22px;border-radius:5px;background:#3f3f3f;font-size:12px;line-height:22px}
.userInfo a{display:inline-block;color:#c6c6c6}
.userInfo a:hover{color:#FFF}
.user_name{display:block;margin-top:11px;margin-left:16px;height:17px}
/*home-用户信息*/
.box-left-logo a{width:230px;height:60px;line-height:60px;text-align:center;background:#c94d4d url(../images/logo.png);color:#fff;font-size:0}
.box-left-user{background:#D75959;height:190px;border-radius:0;padding:10px}
.box-left-user .welcom{font-size:16px;overflow:hidden;font-weight:500}
.box-left-user .welcom a{color:#fff}
.box-left-user ul{color:#272020;font-size:12px;line-height:22px;height:54px}
.box-left-user ul li{float:left;margin-right:12px;width:45px;height:45px;line-height:45px;color:#fff;border-radius:100%;background:#e36d6d;text-align:center;border:1px solid #fff}
.box-left-user ul a{color:#c94d4d}
.box-left-user-vip{float:right;padding:0 3px;border-radius:5px;background:#fff}
.box-left-user-line{background:#C94D4D;float:right;width:145px;margin-top:-40px;color:#fff;padding:2px 5px;border-radius:3px}
.box-left-user-line a{color:#fff;float:right;margin-top:2px}
.box-left-user-cover{background:#FFF;float:left;width:30px;height:4px}
.box-left-user-money{padding-top:13px}
.box-left-user-money p{line-height:20px;color:#fff;padding:0 10px}
.box-left-user-money p a{float:right;color:#fff}
/*充值提现*/
.box-left-user-buy{text-align:center;height:auto;overflow:hidden;margin-top:10px}
.box-left-user-buy a{font-family:"Microsoft Yahei";width:90px;height:30px;border-radius:6px;background:#E36D6D;color:#FFF;display:inline-block;text-align:center;line-height:30px;font-size:15px;font-weight:500;margin:0 4px;letter-spacing:8px}
/*UserMenu*/
.user_menu_box{border-top:1px solid #959595;margin-top:10px}
.user_menu{padding:5px 10px 10px 10px;}
.user_menu_title{width:168px;height:40px;font-size:15px;line-height:40px;background:#a02727;color:#fff;padding-left:10px;margin-top:8px}
.user_menu_title.agent{background:#a55018}
.user_menu_info{border:1px solid #a02727}
.user_menu_info.agent{border:1px solid #a55018}
.user_menu_info li a{font-size:14px;padding-left:10px;background:#ddd;width:166px;height:40px;line-height:40px;border-bottom:1px dashed #fff}
.user_menu_info li a.bbnone{border-bottom:none}
.user_menu_info li.active a{background:#d65555;color:#fff}
.user_menu_info li a:hover{color:#a02727}
.user_menu_info li.agent.active a{background:#ca743b;color:#fff}
.user_menu_info li.agent a:hover{color:#a55018}
/*menu*/
.menu{border-radius:0 0 13px 13px;padding:4px 5px 4px 7px}
.menu a{width:187px;height:40px;cursor:pointer;font-size:18px;line-height:40px;border-radius:13px;background:#fff;color:#555;padding:0 13px;margin:5px auto;}
.menu a:hover{background:#e36d6d;color:#fff}
.menu a.cursor{background:#e36d6d;color:#fff}
/*banner*/
.banner { width:100%; height:504px;position:relative;}
.f980x240 { width:100%; height: 504px; overflow: hidden; position:relative; }
.f980x240 li, .f980x240 li img { width:100%; height: 504px; }
.rslides { width:100%; position: relative; list-style: none; padding: 0 }
.rslides_nav { width:60px; height:80px; position:absolute; left:5px; top: 37%; overflow:hidden; text-indent:-99em; background:url('/images/nsc/home/new_arrow.png') -28px -17px no-repeat; }
.rslides_nav.next { left:auto; right:5px; background-position:-203px -14px; }
.rslides_nav:hover,.prev.active { background-position:-29px -142px }
.rslides_nav.next:hover,.next.active{ background-position:-204px -142px }
.rslides_tabs { position: relative; margin: -25px auto 0; clear: both; text-align: center; z-index: 99; }
.rslides_tabs li { display: inline; float: none; *float: left; margin-right: 10px }
.rslides_tabs a { width: 13px; height: 13px; display: inline-block; *display: block; border-radius: 50px; -webkit-border-radius:50px;-moz-border-radius:50px; background-color: #000; text-indent: 999px;opacity:0.5;filter:alpha(opacity=50);overflow: hidden; }
.rslides_tabs .rslides_here a { background-color: #fff;opacity:1;filter:alpha(opacity=100);}
/*公告*/
.notice{position:relative;overflow:hidden;margin:0 auto;width:400px;height:36px;background:0 0;line-height:36px}
.notice span{margin-left:15px;margin-right:10px;padding:2px 4px;border-radius:3px;background:#d4d4d4;color:#4c4b4b}
/*way*/
.index_way{overflow:hidden;width:100%}
.way_title{margin-bottom:24px;height:27px}
.way_img{height:270px}
.way_one{overflow:hidden;width:360px;margin-right:15px}
.way_one .way_top{overflow:hidden;height:60px}
.way_one .way_bottom{overflow:hidden;height:200px;margin-top:10px}
.way_two{overflow:hidden;width:280px;height:270px}
.way_three{width:270px}
.way_three .way_top{overflow:hidden;margin-bottom:10px;height:170px}
.way_three .way_bottom{overflow:hidden;height:90px}
.way_img a img{-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;-webkit-transition:all .3s ease}
.way_img a:hover img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);-ms-transform:scale(1.1);-webkit-filter:brightness(1.1);-moz-filter:brightness(1.1);filter:brightness(1.1)}
/*GameList*/
.game_list{width:100%}
.game_list_title{margin-bottom:24px;height:27px}
.game_list .game_list_info{width:1198px;height:120px;/*border:1px solid #ddd;*/background:#fff }
.game_list .game_list_info.bor_bjpk10{border:1px solid #58595e}
.game_list .game_list_info.bor_cqssc{border:1px solid #2290db}
.game_list .game_list_info.bor_jsk3{border:1px solid #e97135}
.game_list .game_list_info.bor_cqxync{border:1px solid #58a628}
.game_list .game_list_info.bor_jsffc{border:1px solid #dc4f45}
.game_list .game_list_info li{float:left;height:12px;width:20%}
.game_list .game_list_info li.time{/*background:#000;color:#fff;*/height:85px;text-align:center;font-size:14px;padding-top:35px}
.game_list .game_list_info li.time p{font-size:28px}
.game_list .game_list_info li.time p.color_bjpk10{color:#58595e}
.game_list .game_list_info li.time p.color_cqssc{color:#2290db}
.game_list .game_list_info li.time p.color_jsk3{color:#e97135}
.game_list .game_list_info li.time p.color_cqxync{color:#58a628}
.game_list .game_list_info li.time p.color_jsffc{color:#dc4f45}
.game_list .game_list_info li.time p em{font-size:18px}
.game_list .game_list_info li.time a{background:#e66868;color:#fff;padding:10px 30px;font-size:18px;margin-top:6px;border-radius:5px}
.game_list .game_list_info li.time a.bg_bjpk10{background:#58595e}
.game_list .game_list_info li.time a.bg_cqssc{background:#2290db}
.game_list .game_list_info li.time a.bg_jsk3{background:#e97135}
.game_list .game_list_info li.time a.bg_cqxync{background:#58a628}
.game_list .game_list_info li.time a.bg_jsffc{background:#dc4f45}
.game_list .game_list_info li.time a:hover{background:#c94d4d}
.game_list .game_list_info.bjpk10{background:#fff url(../images/index/game/icon.png) no-repeat 0 -240px}
.game_list .game_list_info.cqssc{background:#fff url(../images/index/game/icon.png) no-repeat 0 -120px}
.game_list .game_list_info.jsffc{background:#fff url(../images/index/game/icon.png) no-repeat 0 0}
.game_list .game_list_info.jsk3{background:#fff url(../images/index/game/icon.png) no-repeat 0 -360px}
.game_list .game_list_info.cqxync{background:#fff url(../images/index/game/icon.png) no-repeat 0 -480px}
/*Tip*/
#game-helptips{background:url(../images/main/help.png) no-repeat 17px 21px;padding:0 15px 0 45px;border-top: 1px solid #d7d1d1;padding-top:20px}
.gamr_tip{border:1px solid #ddd;padding:1px 10px 2px 10px;border-radius:3px;color: #555;font-size: 14px;cursor: pointer;margin-left: 5px}
.gamr_tip:hover{border:1px solid #e95959;color:#e95959}
/*fdian*/
.noUi-base{position:relative;z-index:1;width:105px}
.noUi-origin{position:absolute;height:0;width:0}
.noUi-handle{position:relative;z-index:1}
.noUi-horizontal{height:4px}
.noUi-horizontal .noUi-handle{width:20px;height:20px;left:0;top:-8px;background:#c94d4d;border-radius:50%}
.noUi-target{background:#ddd;border-radius:3px}
/*footer*/
.footer_l{text-align:center;background:#c94d4d;height:77px;color:#fff;}
.footer_l p{padding-top:17px}
.footer_l p.pnote{padding-top:10px}
.footer_r{text-align:center;height:77px;background:url(../images/footer.png) #333333}
/*通用*/
#subContent_bet_re{padding:10px}
/*Tzbox*/
.tzbox{width:570px}