<% layout('/layouts/default.html', {title: '期号生成规则管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('【'+game.gameName+'】期号生成规则')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('lotterycore:issueGenerateRule:edit')){ %>
					<a href="${ctx}/lotterycore/issueGenerateRule/form?gameId=${issueGenerateRule.gameId}" class="btn btn-default btnTool" title="${text('新增期号生成规则')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${issueGenerateRule}" action="${ctx}/lotterycore/issueGenerateRule/listData?gameId=${issueGenerateRule.gameId}" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
<!--				<div class="form-group">-->
<!--					<label class="control-label">${text('对应游戏id')}：</label>-->
<!--					<div class="control-inline">-->
<!--						<#form:input path="gameId" maxlength="64" class="form-control width-120"/>-->
<!--					</div>-->
<!--				</div>-->
				<div class="form-group">
					<label class="control-label">${text('游戏代码')}：</label>
					<div class="control-inline">
						<#form:input path="gameCode" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('期数')}：</label>
					<div class="control-inline">
						<#form:input path="issueCount" maxlength="9" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('对应期号设置id')}：</label>
					<div class="control-inline">
						<#form:input path="issueSettingId" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('排序号')}：</label>
					<div class="control-inline">
						<#form:input path="orderNo" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('开始时间')}：</label>
					<div class="control-inline">
						<#form:input path="startTime" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('时间间隔')}：</label>
					<div class="control-inline">
						<#form:input path="timeInterval" maxlength="9" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('日期部分格式')}：</label>
					<div class="control-inline">
						<#form:input path="dateFormat" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('期号部分格式')}：</label>
					<div class="control-inline">
						<#form:input path="issueFormat" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('是否跨天')}：</label>
					<div class="control-inline">
						<#form:checkbox path="nextDay" dictType="sys_yes_no" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="512" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm isQuick">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		// {header:'${text("对应游戏id")}', name:'gameId', index:'a.game_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
		// 	return '<a href="${ctx}/lotterycore/issueGenerateRule/form?id='+row.id+'" class="btnList" data-title="${text("编辑期号生成规则")}">'+(val||row.id)+'</a>';
		// }},
		{header:'${text("规则名称")}', name:'gameCode', index:'a.game_code', width:150, align:"left", formatter: function(val, obj, row, act){
				return '<a href="${ctx}/lotterycore/issueGenerateRule/form?id='+row.id+'" class="btnList" data-title="${text("编辑期号生成规则")}">'+(val||row.id)+'</a>';
		}},
		// {header:'${text("对应期号设置id")}', name:'issueSettingId', index:'a.issue_setting_id', width:150, align:"left"},
		// {header:'${text("排序号")}', name:'orderNo', index:'a.order_no', width:150, align:"right", formatter: function(val, obj, row, act){
		// 	return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		// }},
		{header:'${text("开始时间")}', name:'startTime', index:'a.start_time', width:150, align:"center"},
		{header:'${text("时间间隔")}', name:'timeInterval', index:'a.time_interval', width:150, align:"center", formatter: 'number',
			formatoptions: {thousandsSeparator: ',', decimalPlaces: 2, defaulValue: ''}
		},
		{header:'${text("生成期数")}', name:'issueCount', index:'a.issue_count', width:150, align:"center"},
		{header:'${text("日期部分格式")}', name:'dateFormat', index:'a.date_format', width:150, align:"center"},
		{header:'${text("分隔符")}', name:'separator', index:'a.separator', width:150, align:"center"},
		{header:'${text("期号部分格式")}', name:'issueFormat', index:'a.issue_format', width:150, align:"center"},
		{header:'${text("期号起始日期")}', name:'issueBeginDate', index:'a.issue_begin_date', width:150, align:"center"},
		{header:'${text("起始期号")}', name:'issueBeginNumber', index:'a.issue_begin_number', width:150, align:"center"},
		{header:'${text("是否跨天")}', name:'nextDay', index:'a.next_day', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_yes_no')}, val, '${text("未知")}', true);
		}},
		{header:'${text("自动开奖")}', name:'automaticLottery', index:'a.automatic_lottery', width:150, align:"center", formatter: function(val, obj, row, act){
				return js.getDictLabel(${@DictUtils.getDictListJson('sys_yes_no')}, val, '${text("未知")}', true);
		}},
		{header:'${text("自动结算")}', name:'automaticSettlement', index:'a.automatic_settlement', width:150, align:"center", formatter: function(val, obj, row, act){
				return js.getDictLabel(${@DictUtils.getDictListJson('sys_yes_no')}, val, '${text("未知")}', true);
		}},
		{header:'${text("投注截止时长（秒）")}', name:'betCutOffTime', index:'a.bet_cut_off_time', width:150, align:"center"},
		{header:'${text("修改时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:220, formatter: function(val, obj, row, act){
			var actions = [];
			//<% if(hasPermi('lotterycore:issueGenerateRule:edit')){ %>
				actions.push('<a href="${ctx}/lotterycore/issueGenerateRule/form?id='+row.id+'" class="btnList" title="${text("编辑期号生成规则")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/lotterycore/issueGenerateRule/delete?id='+row.id+'" class="btnList" title="${text("删除期号生成规则")}" data-confirm="${text("确认要删除该期号生成规则吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			//<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>