<% layout('/layouts/default.html', {title: '玩法分组管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('玩法分组管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('lotterycore:playMethodGroup:edit')){ %>
					<a href="${ctx}/lotterycore/playMethodGroup/form" class="btn btn-default btnTool" title="${text('新增玩法分组')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${playMethodGroup}" action="${ctx}/lotterycore/playMethodGroup/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('游戏分类')}：</label>
					<div class="control-inline">
						<#form:input path="gameCategory" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('分组名称')}：</label>
					<div class="control-inline">
						<#form:input path="groupName" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('是否不定位')}：</label>
					<div class="control-inline width-120">
						<#form:select path="positioned" dictType="sys_yes_no" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('移动端是否可用')}：</label>
					<div class="control-inline width-120">
						<#form:select path="android" dictType="sys_yes_no" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('数据状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm isQuick">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("游戏分类")}', name:'gameCategory', index:'a.game_category', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/lotterycore/playMethodGroup/form?id='+row.id+'" class="btnList" data-title="${text("编辑玩法分组")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("分组名称")}', name:'groupName', index:'a.group_name', width:150, align:"left"},
		{header:'${text("排序")}', name:'sort', index:'a.sort', width:150, align:"center"},
		{header:'${text("是否不定位")}', name:'positioned', index:'a.positioned', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_yes_no')}, val, '${text("未知")}', true);
		}},
		{header:'${text("移动端是否可用")}', name:'android', index:'a.android', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_yes_no')}, val, '${text("未知")}', true);
		}},
		{header:'${text("数据状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			//<% if(hasPermi('lotterycore:playMethodGroup:edit')){ %>
				actions.push('<a href="${ctx}/lotterycore/playMethodGroup/form?id='+row.id+'" class="btnList" title="${text("编辑玩法分组")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/lotterycore/playMethodGroup/disable?id='+row.id+'" class="btnList" title="${text("停用玩法分组")}" data-confirm="${text("确认要停用该玩法分组吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				} else if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/lotterycore/playMethodGroup/enable?id='+row.id+'" class="btnList" title="${text("启用玩法分组")}" data-confirm="${text("确认要启用该玩法分组吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
			//<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>