<% layout('/layouts/default.html', {title: '投注订单管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('投注订单管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('lotterycore:betOrder:edit')){ %>
					<a href="${ctx}/lotterycore/betOrder/form" class="btn btn-default btnTool" title="${text('新增投注订单')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${betOrder}" action="${ctx}/lotterycore/betOrder/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('订单号')}：</label>
					<div class="control-inline">
						<#form:input path="orderNo" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('外部关联号')}：</label>
					<div class="control-inline">
						<#form:input path="extNo" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户ID')}：</label>
					<div class="control-inline">
						<#form:input path="userId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户帐号')}：</label>
					<div class="control-inline">
						<#form:input path="userAccount" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('投注IP')}：</label>
					<div class="control-inline">
						<#form:input path="userIp" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('投注渠道')}：</label>
					<div class="control-inline">
						<#form:input path="userWay" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('投注设备')}：</label>
					<div class="control-inline">
						<#form:input path="userEquipment" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('投注单价')}：</label>
					<div class="control-inline">
						<#form:input path="basePrice_gte" maxlength="13" class="form-control width-60"/>
						&nbsp;-&nbsp;
						<#form:input path="basePrice_lte" maxlength="13" class="form-control width-60"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('投注时间')}：</label>
					<div class="control-inline">
						<#form:input path="betTime_gte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm" data-done="betTime_lte.click()"/>
						&nbsp;-&nbsp;
						<#form:input path="betTime_lte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('游戏代码')}：</label>
					<div class="control-inline width-120">
						<#form:select path="gameCode" dictType="" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('玩法组id')}：</label>
					<div class="control-inline">
						<#form:input path="playMethodGroupId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('玩法组')}：</label>
					<div class="control-inline">
						<#form:input path="playMethodGroup" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('玩法id')}：</label>
					<div class="control-inline">
						<#form:input path="playMethodId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('玩法')}：</label>
					<div class="control-inline">
						<#form:input path="playMethod" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('期号id')}：</label>
					<div class="control-inline">
						<#form:input path="issueId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('期号')}：</label>
					<div class="control-inline">
						<#form:input path="issue" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('投注号码')}：</label>
					<div class="control-inline">
						<#form:input path="betNumber" maxlength="640" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('附加号码')}：</label>
					<div class="control-inline">
						<#form:input path="extBetNumber" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('注数')}：</label>
					<div class="control-inline">
						<#form:input path="betCount_gte" maxlength="9" class="form-control width-60"/>
						&nbsp;-&nbsp;
						<#form:input path="betCount_lte" maxlength="9" class="form-control width-60"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('倍数')}：</label>
					<div class="control-inline">
						<#form:input path="betMultiple" maxlength="9" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('总注数')}：</label>
					<div class="control-inline">
						<#form:input path="totalBetCount_gte" maxlength="9" class="form-control width-60"/>
						&nbsp;-&nbsp;
						<#form:input path="totalBetCount_lte" maxlength="9" class="form-control width-60"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('货币单位')}：</label>
					<div class="control-inline">
						<#form:input path="betUnit" maxlength="2" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('总投注金额')}：</label>
					<div class="control-inline">
						<#form:input path="totalBetAmount_gte" maxlength="13" class="form-control width-60"/>
						&nbsp;-&nbsp;
						<#form:input path="totalBetAmount_lte" maxlength="13" class="form-control width-60"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('不定位')}：</label>
					<div class="control-inline width-120">
						<#form:select path="notPosition" dictType="" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('返点')}：</label>
					<div class="control-inline">
						<#form:input path="rebate_gte" maxlength="4" class="form-control width-60"/>
						&nbsp;-&nbsp;
						<#form:input path="rebate_lte" maxlength="4" class="form-control width-60"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('返点金额')}：</label>
					<div class="control-inline">
						<#form:input path="rebateAmount_gte" maxlength="13" class="form-control width-60"/>
						&nbsp;-&nbsp;
						<#form:input path="rebateAmount_lte" maxlength="13" class="form-control width-60"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('奖金比例')}：</label>
					<div class="control-inline">
						<#form:input path="bonus_gte" maxlength="4" class="form-control width-60"/>
						&nbsp;-&nbsp;
						<#form:input path="bonus_lte" maxlength="4" class="form-control width-60"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('合买')}：</label>
					<div class="control-inline">
						<#form:input path="syndicate" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('飞盘')}：</label>
					<div class="control-inline">
						<#form:input path="frisbee" maxlength="640" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('追号')}：</label>
					<div class="control-inline">
						<#form:input path="chasing" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('追号期数')}：</label>
					<div class="control-inline">
						<#form:input path="chasingIssue" maxlength="9" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('剩余追号期数')}：</label>
					<div class="control-inline">
						<#form:input path="chasingIssueRemain" maxlength="9" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('中奖停止追号')}：</label>
					<div class="control-inline">
						<#form:input path="chasingWinStop" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('开奖号码')}：</label>
					<div class="control-inline">
						<#form:input path="lotteryNumber" maxlength="640" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('开奖时间')}：</label>
					<div class="control-inline">
						<#form:input path="lotteryTime_gte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm" data-done="lotteryTime_lte.click()"/>
						&nbsp;-&nbsp;
						<#form:input path="lotteryTime_lte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('开奖地址')}：</label>
					<div class="control-inline">
						<#form:input path="lotteryAddress" maxlength="640" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('中奖注数')}：</label>
					<div class="control-inline">
						<#form:input path="winCount_gte" maxlength="9" class="form-control width-60"/>
						&nbsp;-&nbsp;
						<#form:input path="winCount_lte" maxlength="9" class="form-control width-60"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('中奖金额')}：</label>
					<div class="control-inline">
						<#form:input path="winAmount_gte" maxlength="13" class="form-control width-60"/>
						&nbsp;-&nbsp;
						<#form:input path="winAmount_lte" maxlength="13" class="form-control width-60"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('盈亏')}：</label>
					<div class="control-inline">
						<#form:input path="profitAndLoss_gte" maxlength="13" class="form-control width-60"/>
						&nbsp;-&nbsp;
						<#form:input path="profitAndLoss_lte" maxlength="13" class="form-control width-60"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('撤单时间')}：</label>
					<div class="control-inline">
						<#form:input path="cancelTime_gte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm" data-done="cancelTime_lte.click()"/>
						&nbsp;-&nbsp;
						<#form:input path="cancelTime_lte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('乐观锁版本号')}：</label>
					<div class="control-inline">
						<#form:input path="version" maxlength="9" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('业务状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="bizStatus" dictType="" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('数据状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="512" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('是否删除')}：</label>
					<div class="control-inline">
						<#form:input path="deleted" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('租户编号')}：</label>
					<div class="control-inline">
						<#form:input path="tenantId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm isQuick">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("用户帐号")}', name:'userAccount', index:'a.user_account', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/lotterycore/betOrder/form?id='+row.id+'" class="btnList" data-title="${text("编辑投注订单")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("投注渠道")}', name:'userWay', index:'a.user_way', width:150, align:"left"},
		{header:'${text("投注时间")}', name:'betTime', index:'a.bet_time', width:150, align:"center"},
		{header:'${text("游戏代码")}', name:'gameCode', index:'a.game_code', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text("未知")}', true);
		}},
		{header:'${text("玩法组")}', name:'playMethodGroup', index:'a.play_method_group', width:150, align:"left"},
		{header:'${text("玩法")}', name:'playMethod', index:'a.play_method', width:150, align:"left"},
		{header:'${text("期号")}', name:'issue', index:'a.issue', width:150, align:"left"},
		{header:'${text("投注号码")}', name:'betNumber', index:'a.bet_number', width:150, align:"left"},
		{header:'${text("注数")}', name:'betCount', index:'a.bet_count', width:150, align:"center"},
		{header:'${text("倍数")}', name:'betMultiple', index:'a.bet_multiple', width:150, align:"center"},
		{header:'${text("总注数")}', name:'totalBetCount', index:'a.total_bet_count', width:150, align:"center"},
		{header:'${text("货币单位")}', name:'betUnit', index:'a.bet_unit', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("总投注金额")}', name:'totalBetAmount', index:'a.total_bet_amount', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("返点")}', name:'rebate', index:'a.rebate', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("返点金额")}', name:'rebateAmount', index:'a.rebate_amount', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("奖金比例")}', name:'bonus', index:'a.bonus', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("开奖号码")}', name:'lotteryNumber', index:'a.lottery_number', width:150, align:"left"},
		{header:'${text("开奖时间")}', name:'lotteryTime', index:'a.lottery_time', width:150, align:"center"},
		{header:'${text("开奖地址")}', name:'lotteryAddress', index:'a.lottery_address', width:150, align:"left"},
		{header:'${text("中奖注数")}', name:'winCount', index:'a.win_count', width:150, align:"center"},
		{header:'${text("中奖金额")}', name:'winAmount', index:'a.win_amount', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("盈亏")}', name:'profitAndLoss', index:'a.profit_and_loss', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("撤单时间")}', name:'cancelTime', index:'a.cancel_time', width:150, align:"center"},
		{header:'${text("业务状态")}', name:'bizStatus', index:'a.biz_status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text("未知")}', true);
		}},
		{header:'${text("备注")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			//<% if(hasPermi('lotterycore:betOrder:edit')){ %>
				actions.push('<a href="${ctx}/lotterycore/betOrder/form?id='+row.id+'" class="btnList" title="${text("编辑投注订单")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/lotterycore/betOrder/delete?id='+row.id+'" class="btnList" title="${text("删除投注订单")}" data-confirm="${text("确认要删除该投注订单吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			//<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>