<% layout('/layouts/default.html', {title: '会员管理', libs: ['validate','dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">
        <div class="box-header with-border">
            <div class="box-title">
                <i class="fa icon-people"></i> ${text(memUser.isNewRecord ? '新增会员' : op == 'auth' ? '会员分配角色' : '编辑会员')}
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <#form:form id="inputForm" model="${memUser}" action="${ctx}/sys/memUser/save" method="post" class="form-horizontal">
        <#form:hidden name="op" value="${op}"/>
        <#form:hidden name="userType" value="member"/>
        <#form:hidden path="userCode"/>
        <div class="box-body">
            <% if(op=='auth'){ %><br/><% } %>
            <% if(op == 'add' || op == 'edit') { %>
            <div class="form-unit">${text('基本信息')}</div>
            <% } %>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required ">*</span> ${text('登录账号')}：<i
                                class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:hidden name="oldLoginCode" value="${memUser.loginCode}"/>
                            <#form:input path="loginCode" minlength="4" maxlength="20" readonly="${op=='auth'}"
                            class="form-control required userName"
                            remote="${ctx}/sys/user/checkLoginCode?oldLoginCode=${memUser.loginCode}"
                            data-msg-remote="${text('登录账号已存在')}"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required ">*</span> ${text('会员昵称')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="userName" maxlength="32" readonly="${op=='auth'}" class="form-control required "/>
                        </div>
                    </div>
                </div>
            </div>
            <% if(op == 'add' || op == 'edit') { %>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('手机号码')}：<i
                                class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <#form:input path="mobile" maxlength="100" class="form-control mobile"/>
                                <span class="input-group-addon"><i class="fa fa-fw fa-mobile"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-unit">${text('详细信息')}</div>
            <div class="row">
<!--                <div class="col-xs-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="control-label col-sm-4" title="">-->
<!--                            <span class="required hide">*</span> ${text('会员名')}：<i-->
<!--                                class="fa icon-question hide"></i></label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <#form:input path="member.memName" maxlength="50" class="form-control"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('余额')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="member.balance" maxlength="10" class="form-control number" defaultValue="0.0"/>
                        </div>
                    </div>
                </div>
<!--                <div class="col-xs-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="control-label col-sm-4" title="">-->
<!--                            <span class="required hide">*</span> ${text('返点')}：<i class="fa icon-question hide"></i></label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <#form:input path="rebate" maxlength="8" class="form-control number" defaultValue="0.0"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-xs-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="control-label col-sm-4" title="">-->
<!--                            <span class="required hide">*</span> ${text('赔率')}：<i class="fa icon-question hide"></i></label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <#form:input path="odds" maxlength="8" class="form-control number"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('工资')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="member.wage" maxlength="8" class="form-control number" defaultValue="${bonusDefaultValue}" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('分红')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="member.bonus" maxlength="8" class="form-control number" defaultValue="${wageDefaultValue}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2" title="">
                            <span class="required hide">*</span> ${text('备注信息')}：<i
                                class="fa icon-question hide"></i></label>
                        <div class="col-sm-10">
                            <#form:textarea path="remarks" rows="4" maxlength="500" class="form-control "/>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% if(hasPermi('sys:memUser:authRole') && (op == 'add' || op == 'auth')) { %>
            <div class="form-unit">${text('分配角色')}</div>
            <div class="pl10 pb20">
                <table id="roleGrid"></table>
                <#form:hidden name="userRoleString"/>
            </div>
            <% } %>
            <% if(op == 'add' || op == 'edit') { %>
            <#form:extend collapsed="true" />
            <% } %>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                    <% if (hasPermi('sys:memUser:edit,sys:memUser:authRole', 'or')){ %>
                    <button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i>
                        ${text('保 存')}
                    </button>&nbsp;
                    <% } %>
                    <button type="button" class="btn btn-sm btn-default" id="btnCancel"
                            onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}
                    </button>
                </div>
            </div>
        </div>
    </#form:form>
</div>
</div>
<% } %>
<script>
    <% if (hasPermi('sys:memUser:authRole') && (op == 'add' || op == 'auth')) { %>
// 加载角色列表
        var roleGrid = $("#roleGrid").dataGrid({
            url: '${ctx}/sys/role/treeData',
            postData: [
                {name: 'userType', value: 'member'},
                {name: 'ctrlPermi', value: '${@Global.getConfig("user.adminCtrlPermi", "2")}'}
            ],
            columnModel: [
                {header: '${text("角色名称")}', name: 'name', sortable: false, width: 100, align: "center"},
                {header: '${text("角色编码")}', name: 'id', sortable: false, width: 100, align: "center"}
            ],
            showCheckbox: true,
            autoGridHeight: function () {
                return 'auto';
            },
            autoGridWidth: function () {
                return $('#inputForm .box-body').width() - 20;
            },
            ajaxSuccess: function () {
                <% for (role in roleList! ) { %>
                    roleGrid.dataGrid('setSelectRow', '${role.roleCode}');
                 <% } %>
            }
        });
        <% } %>
    $("#inputForm").validate({
        submitHandler: function (form) {
            <% if (hasPermi('sys:memUser:authRole') && (op == 'add' || op == 'auth')) { %>
                $("#userRoleString").val(roleGrid.dataGrid('getSelectRows').join(','));
            <% } %>
            var memName = $('#member_memName').val();
            if (memName == '') {
                $('#member_memName').val($('#loginName').val());
            }
            js.ajaxSubmitForm($(form), function (data) {
                js.showMessage(data.message);
                if (data.result == Global.TRUE) {
                    js.closeCurrentTabPage(function (contentWindow) {
                        contentWindow.page();
                    });
                }
            }, "json");
        }
    });
</script>

