<% layout('/layouts/default.html', {title: '游戏管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('游戏管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('lotterycore:game:edit')){ %>
					<a href="${ctx}/lotterycore/game/form" class="btn btn-default btnTool" title="${text('新增游戏')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${game}" action="${ctx}/lotterycore/game/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('游戏代码')}：</label>
					<div class="control-inline">
						<#form:input path="gameCode" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('游戏名称')}：</label>
					<div class="control-inline">
						<#form:input path="gameName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
<!--				<div class="form-group">-->
<!--					<label class="control-label">${text('排序号')}：</label>-->
<!--					<div class="control-inline">-->
<!--						<#form:input path="orderNo" class="form-control width-120"/>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="form-group">-->
<!--					<label class="control-label">${text('游戏说明')}：</label>-->
<!--					<div class="control-inline">-->
<!--						<#form:input path="gameDesc" maxlength="255" class="form-control width-120"/>-->
<!--					</div>-->
<!--				</div>-->
				<div class="form-group">
					<label class="control-label">${text('游戏类别')}：</label>
					<div class="control-inline width-120">
						<#form:select path="gameCategoryId" dictType="lottery_game_category" blankOption="true" blankOptionLabel="请选择" class="form-control " />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('是否热门')}：</label>
					<div class="control-inline width-120">
						<#form:select path="hotGameFlag" dictType="sys_yes_no" blankOption="true" blankOptionLabel="请选择" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" blankOptionLabel="请选择" class="form-control " />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="512" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm isQuick">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("游戏代码")}', name:'gameCode', index:'a.game_code', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/lotterycore/game/form?id='+row.id+'" class="btnList" data-title="${text("编辑游戏")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("游戏名称")}', name:'gameName', index:'a.game_name', width:150, align:"left"},
		{header:'${text("排序号")}', name:'orderNo', index:'a.order_no', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 0, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("游戏说明")}', name:'gameDesc', index:'a.game_desc', width:150, align:"left"},
		{header:'${text("游戏类别")}', name:'gameCategoryId', index:'a.game_category_id', width:150, align:"center", formatter: function(val, obj, row, act){
				return js.getDictLabel(${@DictUtils.getDictListJson('lottery_game_category')}, val, '${text("未知")}', true);
		}},
		{header:'${text("是否热门")}', name:'hotGameFlag', index:'a.hot_game_flag', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_yes_no')}, val, '${text("未知")}', true);
		}},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("修改时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:420, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('lotterycore:game:edit')){ %>
				actions.push('<a href="${ctx}/lotterycore/game/form?id='+row.id+'" class="btn btn-default btn-xs btnList" title="${text("编辑游戏")}"><i class="fa fa-pencil"></i> 编辑</a>&nbsp;');
				actions.push('<a href="${ctx}/lotterycore/issueGenerateRule/list?gameId='+row.id+'" class="btn btn-default btn-xs btnList" title="${text("期号生成规则")}"><i class="fa fa-gg"></i> 期号生成规则</a>&nbsp;');
				actions.push('<a href="${ctx}/lotterycore/issue/makeForm?gameId='+row.id+'" class="btn btn-default btn-xs btnList" title="${text("手动生成期号")}"><i class="fa fa-get-pocket"></i> 手动生成期号</a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/lotterycore/game/disable?id='+row.id+'" class="btn btn-default btn-xs btnList" title="${text("停用")}" data-confirm="${text("确认要停用游戏吗？")}"><i class="glyphicon glyphicon-ban-circle"></i> 停用</a>&nbsp;');
				} else if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/lotterycore/game/enable?id='+row.id+'" class="btn btn-default btn-xs btnList" title="${text("启用")}" data-confirm="${text("确认要启用游戏吗？")}"><i class="glyphicon glyphicon-ok-circle"></i> 启用</a>&nbsp;');
				}
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>