<meta charset="utf-8">
<meta content="webkit" name="renderer"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta content="no-cache" http-equiv="Pragma"/>
<meta http-equiv="Expires" content="0"/>
<meta content="width=device-width, initial-scale=1, user-scalable=1" name="viewport"/>
<link href="${ctxStatic}/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<title>${(isNotBlank(title!) ? title! + ' - ' : '') + @Global.getConfig('productName')}</title>
<script src="${ctxPath}/global.min.js?ctx=${ctx}"></script>
<script src="${ctxStatic}/jquery/jquery-3.5.0.min.js"></script>
<script src="${ctxStatic}/jquery/jquery-migrate-3.2.0.min.js"></script>
<script src="${ctxStatic}/common/jeesite.js?${_version}"></script>
<script src="${ctxStatic}/common/common.js?${_version}"></script>
<link href="${ctxStatic}/swiper/swiper.css" rel="stylesheet"/>
<script src="${ctxStatic}/layer/3.5/layer.js?${_version}"></script>
<script type="text/javascript" src="${ctxStatic}/swiper/swiper.min.js"></script>
<link href="${ctxStatic}/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="${ctxStatic}/css/index_new.css" rel="stylesheet"/>

<script type="text/javascript" src="${ctxStatic}/js/jquery-slides.js"></script>
<script type="text/javascript" src="${ctxStatic}/js/index.js"></script>
<script type="text/javascript" src="${ctxStatic}/js/main.js"></script>
<script type="text/javascript" src="${ctxStatic}/js/function.js"></script>
<script type="text/javascript" src="${ctxStatic}/js/nouislider.min.js"></script>
<script>
    var ctx = "${ctx}";
    var ctxStatic = "${ctxStatic}";
</script>