<script src="${ctxPath}/global.min.js?ctx=${ctx}"></script>
<script src="${ctxStatic}/jquery/jquery-3.5.0.min.js"></script>
<script src="${ctxStatic}/jquery/jquery-migrate-3.2.0.min.js"></script>
<script src="${ctxStatic}/bootstrap/js/bootstrap.min.js"></script>
<script src="${ctxStatic}/select2/4.0/select2.js?${_version}"></script>
<script src="${ctxStatic}/select2/4.0/i18n/${lang()}.js?${_version}"></script>
<script src="${ctxStatic}/layer/3.5/layer.js?${_version}"></script>
<script src="${ctxStatic}/laydate/5.3/laydate.js?${_version}"></script>
<script src="${ctxStatic}/common/jeesite.js?${_version}"></script>
<script src="${ctxStatic}/common/common.js?${_version}"></script>
<script src="${ctxStatic}/common/i18n/jeesite_${lang()}.js?${_version}"></script>
